 * {
     padding: 0;
     margin: 0;
     text-decoration: none;
     list-style: none;
     box-sizing: border-box;
 }
 body{
    overflow-x: hidden;
    display: block;
    margin: 0;
 }

 nav {
     background-color: #fff;
     height: 80px;
     width: 100%;
 }

 nav ul {
     display: flex;
     translate: 0 -80px;
     margin-right: 20px;
     margin-left: 670px;
     align-items: flex-end;

 }

 nav ul li {
     display: inline-block;
     line-height: 80px;
     margin-left: 0 5px;
     padding: 0 15px 0 15px;


 }

 nav ul li a{
     color: black;
     font-size: 18px;
     font-weight: 500;
     text-decoration: none solid rgb(109, 29, 142);
     /* font-family: 'Segoe UI'; */
     position: relative;

 }

 nav ul li a .active{
    text-decoration:underline;
 }

 nav ul li a::after{
     content: '';
     position: absolute;
     width: 100%;
     transform: scaleX(0);
     height: 2px;
     bottom: 0;
     left: 0;
     background-color: #6D1D8E;
     transform-origin: left right;
     transition: transform 0.25s ease-out;
 }


 nav ul li a:hover::after,.active {
     transform: scaleX(1);
     transform-origin: left right;
     color: #6D1D8E;
     cursor: default
 }

 nav ul li a:hover {
     color: #6c1d8ec7
 }


 label.Logo {
     color: blue;
     font-size: 30px;
     line-height: 80px;
     padding: 0 80px;
     font-weight: bold;
     margin-left: 40px;


 }

 label.Logo img {
     height: 64px;
     width: 269px;
     object-fit: cover;
     max-width: 100%;
     font-size: 12.5px;
     line-height: 18.75px;
     color: #6D1D8E;
     margin: 0 0 0 -4px;
     opacity: 1;

 }

 .footerLogo{
    width: 26.9rem;
    object-fit: contain;
    height: 5.4rem;
    margin: 0 -2rem 1rem 0;
     /* max-width: 100%; */
     font-size: 12.5px;
     line-height: 181.75px;
     color: #6D1D8E;
     margin: 0px 0 0 -4px;
     opacity: 1;

 }


 .cont-fluid-1 {
     background-color: brown;
     height: 485.594px;
     width: 2000px;
     background-color: hsl(261, 100%, 90%);
     margin: 4px 0 0 0;
 }

 .fa-solid{
    font-size: 50px;
    text-align: right;
    justify-content: end;
    margin-left: 93%;
    color:#3c1062;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: sticky;
 }

 #Logo{
    position: sticky;
    top:0;

 }


 .Box1 {
     height: 440.594px;
     width: 475px;
     padding: 55px 15px 0px 15px;
     font-size: 10px;
     line-height: 15px;
     text-decoration: none solid rgb(33, 37, 41);
     text-align: left;
     color: #212529;
     min-height: 1px;
     max-width: 41.6667%;
     min-width: auto;
     display: block;
     box-sizing: border-box;
     margin: 5px 20px 30px 90px;


 }

 .courses-heading {
     font-size: 40px;
     font-weight: 700;
     text-align: left;
     color: #6D1D8E;
     height: 116px;
     width: 445px;
     margin: 10px 0 27px 10px;
     font-family: "Kaisei HarunoUmi";


 }

 h3 {
     height: 31px;
     width: 445px;
     font-size: 25px;
     font-weight: 700;
     color: #6D1D8E;
     margin: -10px 0 6px 10px;
     text-decoration: none solid rgb(109, 29, 142);
     font-family: Mulish;
 }

 .courses-heading-paragraph {
     font-family: "Open Sans", sans-serif;
     font-size: 15px;
     font-weight: 600;
     height: 68px;
     width: 445px;
     margin: 0px 0px 40px 10px;
     display: block;
     max-width: 450px;
 }

 .courses-paragraph-button {
     font-size: 15px;
     font-weight: 800;
     text-align: center;
     background-color: #6D1D8E;
     text-decoration: none solid rgb(255, 255, 255);
     cursor: pointer;
     height: 45px;
     width: 150px;
     margin: 1px 18px 1px 0;
     border: none;
     border-radius: 30px;
     color: white;
     font-family: Mulish;
 }

 .Box2 {
     padding: 0 15px 0 15px;
     height: 423.594px;
     width: 665px;
     margin: 17px 0px 0px 50px;
     min-height: 1px;
     max-width: 58.3333%;
     min-width: auto;
 }

 .Box2 img {
     margin: 17px 0px 0px 0px;
     padding: 0px 15px 0 15px;

 }

 /* ------------------Section Training Courses------------- */

 .cont-fluid-2 {
     font-size: 10px;
     line-height: 15px;
     text-decoration: none solid rgb(33, 37, 41);
     color: #212529;
     height: 5101.78px;
     width: 100%;
     padding: 60px 0 60px 0;
     overflow: hidden;
 }

 .TrainHeading {
     margin: 30px 0 30px;
     text-align: center;

 }

 .TrainHeading h1 {
     margin: 30px 0 30px 0;
     color: #6D1D8E;
     font-size: 45px;
     font-weight: bold;
     line-height: 58.5px;
     font-family: 'Kaisei HarunoUmi', serif;
     text-decoration: none solid rgb(90, 9, 124);
     height: 117px;
     width: 630px;
     display: block;
     caption-side: top;
     text-overflow: clip;

 }

 .TrainPara p {
     color: #515151;
     font-size: 15px;
     font-family: Mulish;
     text-align: center;
     height: 82px;
     width: 630px;
     margin: 0 0 10px 0;
     padding: 25px 0 0 0;
 }

 .inputBox {
     height: 226.5px;
     width: 1140px;
     text-align: left;
     margin: -70px 20px 25px 0px;
     padding: 40px;
     max-width: 100%;
     text-overflow: clip;
     color: #212529;
     font-size: 10px;
     font-weight: 400;
     line-height: 15px;

     text-decoration: none solid rgb(33, 37, 41);


 }

 .inputBox input {
     font-size: 25px;
     font-weight: 400;
     line-height: 62.5;
     height: 76.5px;
     width: 1060px;
     text-align: start;
     text-decoration: none solid rgb(33, 37, 41);
     margin: 50px 0px 20px 120px;
     padding: 6px 12px 6px 12px;
     text-overflow: clip;
     border: none;
     border-bottom: 2px solid #C5C5C5;
     position: relative;
     cursor: text;
 }

 .inputBox input:focus {
     outline: none;
 }

 .inputBox input::placeholder {
     color: grey;
     font-size: 20px;

 }

 /* Course Cads Section styling */

 .Row1,
 .Row2,
 .Row3 {
     width: 1090px;
     height: 700px;
     /* background-color: #212529; */
     margin: 40px 40px 40px 154px;
     color: #C5C5C5;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
     padding: 10px;
 }

 .RoundedCircle {
     height: 150px;
     width: 18em;
     border-radius: 50%;
     background-color: #ECECEC;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 30px;
 }

 .RoundedCircle:hover {
     background-color: #460B5E;
 }


 .course-1,
 .course-2,
 .course-3,
 .course-4,
 .course-5,
 .course-6,
 .course-7,
 .course-8,
 .course-9 {
     height: 750px;
     width: 333.328px;
     background-color: #f8f8f8;
     border: 1px solid white;
     margin-bottom: 40px;
 }

 h5 {
     color: #6d1d8e;
     font: 700 20px "Barlow";
     width: 100%;
     max-width: 100%;
     padding-left: 8px;
     min-height: 4rem;
     margin-top: 2.2rem;
     margin-bottom: 2.2rem;

 }

 .mainPara {
     text-align: left;
     padding: 0 1.4rem 0 1.4rem;
     color: #515151;
     font-size: 14px;
     font-family: "Mulish";
     width: 100%;
     max-width: 30.5rem;
     margin-top: 2.2rem;
     margin-bottom: 2.2rem;
     text-align: justify;

 }

 span {
     text-align: left;
     color: #515151;
     font-size: 14px;
     font-family: "Mulish";
     width: 100%;
     max-width: 30.5rem;
     margin-top: 2.2rem;
     margin-bottom: 2.2rem;
     text-align: justify;

 }

 span.DetailsHead {
     color: #6D1D8E;
     font-size: 15px;
     font-weight: 700;
     font-family: Mulish;

 }

 .card {
     border-radius: 15px;

 }
.card:hover{
    box-shadow: -1px 0px 23px -4px rgba(0,0,0,0.7);
-webkit-box-shadow: -1px 0px 23px -4px rgba(0,0,0,0.7);
-moz-box-shadow: -1px 0px 23px -4px rgba(0,0,0,0.7);
transition: all 0.7s ease;
    
}
 .card .main-btn {
     border-radius: 50px;
     padding: 10px 27px;
     border: 2px solid #6D1D8E;
     color: #6D1D8E;
     font-weight: 800;
     height: 45px;
     font-size: 18px;
     letter-spacing: 2px;
     text-decoration: none;
     text-align: center;
     font-family: Mulish;
     margin-bottom: 60px;
 }

 .main-btn:hover {
     color: white;
     background-color: #460B5E;
     border: none;

 }

 .card:hover .main-btn {
     background-color: #460B5E;
     color: white;
     border: none;
 }
 .card:hover .RoundedCircle {
    background-color: #460B5E;
    color: white;
    border: none;
}


/* Svg section Styling */
svg{
    fill:#470b5eea;
    width:50%;
    height:50%;
    stroke:#470b5eea;
    stroke: 1.2;
}
  .card:hover svg {
    fill:white;
    stroke:white;

  }
 /* Why Luminar? Section Styling */


 .picture2 {
     padding-top: 130px;
     height: 760px;
     padding-left: 0;
     
 }

 .picture2 .image {
     width:660.5px;
     height:760px;
     margin-left:0px;
     vertical-align: middle;
}

 .column2 h1 {
     padding-left: 15px;
     padding-top: 50px;
     color: #6D1D8E;
     margin: 25px 0 100px 0;
     font-size: 55px;
     font-weight: 700;
     font-family: 'Barlow', sans-serif;
     height: 132px;
     width: 574.5px;
 }


 .column2 .p1 {
     padding-left: 15px;
     padding-top: 30px 0 30px 0;
     color: #515151;
     padding-right: 15px;
     font-size: 15px;
     margin: 0 0 5px 0;
     max-width: 550px;
     height: 150px;
     line-height: 22.5px;
 }

 .column2 ul {
     padding-left: 15px;
     padding-top:1px;
     padding-right: 15px;
     font-family: Mulish;
     font-size: 16px;
     font-weight: 700;
     line-height: 32px;
     text-decoration: none solid rgb(81, 81, 81);
     color: rgb(81, 81, 81);
 }
.column2 li{
    font-size: 16px;
    font-weight: 700;
    font-family: Mulish;
    line-height: 32px;
    color:#515151;
    height: 32px;
    width: 574.5px;
    margin: 10px 0 -5px 0;
    padding:0 0 0  4px;  
    text-align: left;
    background-image: url(./Images/WhyluminarListimage.png);
    background-repeat: no-repeat;
    margin-top: 5px;
    padding-left: 40px;

}
 .column2 {
     background-color: #f8f8f8;
     padding: 0 15px 0 70px;
     margin-left:0px;
     margin-right: 0;
     height: 760px;
     width: 670.5px;
 }
 .row{
    padding-right:10px;
 }


 /* Join Now Section Styling */


 .JoinNow{
    margin-top:130px;
    width: 100%;
    background-size:cover ;
    background-position: center;
    height: 597px;
    background-repeat: no-repeat;
    background-image: url(/Images/JoinNowBackground.jpg);
 }

.mainP{
    padding-top: 12px;
    width: 100%;
    line-height: 1.4;
    color: #f5f5f5;
    font: 400 40px "Kaisei HarunoUmi";
    text-align: center;
    padding:120px 0 0 0;
    margin:0 0 10px 0;
 }
 .QuestionP{
    font-family: Mulish;
    font-size: 15px;
    line-height: 22.5px;
    text-align: center;
    color:#BB9867;
    margin:0 0 10px 0;
    padding:15px 0 0 0;
 }

 .Join-btn{
    font-family: Mulish;
    font-size: 18px;
    font-weight: 800;
    line-height: 27px;
    text-align: center;
    background-color: #F0F0F0;
    color:#6D1D8E;
    margin: 55px 0 0 0;
    padding: 10px 24px 10px 24px;
    cursor:pointer;
    border-radius: 30px;
    border:none;
    text-align: center;
    align-items: center;
 }
/* Footer Section Styling */



.footer{
    padding: 70px 110px;
    padding-bottom: 0;
   
 }

 .footer .foot-row1{
    display: flex;
    justify-content: space-between;
    color:  #7E7E7E;
 }
 .footer .col img{
    margin-top: 20px;
    rotate:calc(0deg)

 }
 .footer img{
    width: 230px;
    height: 200px;
  }



  .footer .foot-row1 a{
    text-decoration: none;
    color:  #7E7E7E;
    font-size: 14px;
    text-align: center;
    font-family: Mulish;
    height: 29px;
    width: 201.797px;
    border-bottom: 1px solid  #FFFFFF;
    margin: 0 0 10px 0;
    padding:0 0 10px 0;
    cursor:pointer;
    position: relative;

  }
  .footer .foot-row1 a::after{
    content: '';
     position: absolute;
     width: 100%;
     transform: scaleX(0);
     height: 2px;
     bottom: 0;
     left: 0;
     background-color: #6D1D8E;
     /* transform-origin: ; */
     transition: transform 0.25s ease-out;
  }


  .footer .foot-row1 a:hover::after {
     transform: scaleX(1);
     transform-origin: left right;
     color: #6D1D8E;
     cursor: default
 }

  .footer .foot-row1 a:hover{
    /* text-decoration:underline; */
    text-underline-offset: 1em;
    overflow: hidden;
    color: #6D1D8E;
  }


  .footer .foot-row1 h6{
    color: #6D1D8E;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 15px 0 10px 0;
    padding:5px 0 0 0;
    font-family: Mulish;
    text-decoration: none solid rgb(109, 29, 142);
    height: 29px;
    width: 252.25px;
    text-align: left;
    color:  #7E7E7E;
  }


.footer .foot-row1 hr{
    color: #6D1D8E;
    width: 200px;
    
}


.footer .foot-row1 .p1{
color: #6D1D8E;
font-size: 16px;
font-weight: 700;
line-height: 24px;
font-family: Mulish;
text-align: left;
color:#6D1D8E;
height: 29px;
width: 282.25px;
margin: 15px 0 10px 0;
padding: 5px 0 0 0;

}

.footer .foot-row1 p{
    font-family: Mulish;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color:#7E7E7E;
    max-width: 260px;
    width: 100%;

}

.footer .foot-row2{
display: flex;
justify-content: center;
}


.footer .foot-row2 h6{
color: #6D1D8E;
}


.footer span{
    color:#6D1D8E;
    font-size: 15px;
    text-align: center;
    font-family: Mulish;
    height: 19px;
    width: 1110px;
    margin: 0 0 10px 0;
    text-decoration:none solid rgb(81, 81, 81);
    font-weight: 700;
}
.footer .footer-bg{
    background: rgba(173, 216, 230, 0.089);
    padding:15px 100px 15px 100px;
    max-width:100%;
}
.footer .endP{
    font-size: 15px;
    color:#515151;
    
    margin:0px;
    width:100%;
}

/* 
Scroll Up Arrow */
.Top a{
    position: fixed;
    bottom:20px;
    right:90px;
}
.Top a i{
    font-size: 35px;
    background:#460B5E;
    padding:14px;
    border-radius: 50%;
    color:#fff;
}